<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.demo.dao.mapper.TransactionMapper">

    <update id="updateTableAStatus">
        UPDATE schema_a_user.table_a SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updateTableBStatus">
        UPDATE schema_b_user.table_b SET status = #{status} WHERE id = #{id}
    </update>

    <select id="getTableAStatus" resultType="com.sample.demo.dao.entity.DataEntity">
        SELECT name , id , status FROM schema_a_user.table_a
    </select>

    <select id="getTableBStatus" resultType="com.sample.demo.dao.entity.DataEntity">
        SELECT name , id , status FROM schema_b_user.table_b
    </select>

</mapper>