<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- user the OS environment -->
	<property name="LOG_DIR" value="./logs/"/>

	<property name="ENCODING_FILE" value="UTF-8"/>

	<property name="ENCODING_CONSOLE" value="UTF-8"/>

	<property name="COMMON_LOG_PATTERN" value="%date{ISO8601}\t[%X{traceId}]\t[%thread]\t[%-5p]\t%c\t%m%n"/>

	<!-- the define for appender -->
	<appender name="APL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<charset>${ENCODING_FILE}</charset>
			<pattern>${COMMON_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_DIR}/apl.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/apl.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="APL_KAFKA_CONSUMER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<charset>${ENCODING_FILE}</charset>
			<pattern>${COMMON_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_DIR}/kafka.consumer.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/kafka.consumer.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${COMMON_LOG_PATTERN}</pattern>
			<charset>${ENCODING_CONSOLE}</charset>
		</encoder>
	</appender>


	<logger name="com.sea" additivity="false" level="INFO">
		<appender-ref ref="CONSOLE" />
	</logger>



	<logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer" additivity="false" level="INFO">
	</logger>

	<!-- 標準出力 -->
	<logger name="STDOUT" level="INFO">
	</logger>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APL_LOG" />
	</root>

</configuration>